/* src/App.css */

.App {
  text-align: center;
}
.App-header {
  background-color: #282c34; /* Fondo oscuro, puedes cambiarlo */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.troll-image {
  /* Establece el tamaño máximo para que no sea tan grande */
  max-width: 500px; /* Por ejemplo, máximo 500px de ancho */
  height: auto;    /* Mantiene la proporción de la imagen */
  display: block;  /* Asegura que la imagen se comporte como un bloque para centrar */
  margin: 20px auto; /* Centra la imagen horizontalmente con margen superior/inferior */
  border-radius: 8px; /* Opcional: bordes ligeramente redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Opcional: una sombra sutil */
}

p {
  margin-top: 20px;
}
